<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iriel.mapsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MapsApp</name>
    <description>Geolocalizacion con LeafLet Maps</description>
    <author email="irielr74@gmail.com" href="http://phonegap.com">Iriel</author>
    <content src="index.html" />
	
	<engine name="android" spec="https://github.com/apache/cordova-android.git#6.3.0" />

	<preference name="android-minSdkVersion" value="14" />
	<preference name='phonegap-version' value='cli-7.1.0' />
	<preference name='pgb-builder-version' value='1' />
	
	<preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <!--
	<preference name="Fullscreen" value="true" />
	<preference name="KeepRunning" value="false"/>
	<preference name="BackgroundColor" value="0xff0000ff"/>

    <plugin name="cordova-plugin-file" source="npm" spec="~6.0.2" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.7.1" />	
	<plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
	-->	
	<plugin name="cordova-plugin-console" spec="1.0.7" />
	<plugin name="cordova-plugin-device" spec="2.0.3" />
	<plugin name="cordova-plugin-device-motion" spec="2.0.1" />
	<plugin name="cordova-plugin-device-orientation" spec="2.0.1" />
	<plugin name="cordova-plugin-geolocation" spec="4.0.2" />
	<plugin name="cordova-plugin-globalization" spec="1.0.9" />
	<plugin name="cordova-plugin-inappbrowser" spec="3.2.0" />

    <plugin name="cordova-plugin-camera" source="npm" spec="~4.1.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <platform name="android">
        <icon density="ldpi" src="www/img/logo.png" />
        <icon density="mdpi" src="www/img/logo.png" />
        <icon density="hdpi" src="www/img/logo.png" />
        <icon density="xhdpi" src="www/img/logo.png" />
        <icon density="xxhdpi" src="www/img/logo.png" />
        <icon density="xxxhdpi" src="www/img/logo.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
